In [1]:
import pandas as pd
from sklearn.metrics import confusion_matrix, classification_report
import random

In [2]:
path_ = '/home/aia/Nhat/ChatGPT-Conversation/Sales_LocalAPI/gpt lan 3/predict_'
df = pd.read_csv('/home/aia/Nhat/ChatGPT-Conversation/Sales_LocalAPI/gpt lan 3/predict_xxx.csv', dtype=str, keep_default_na=False)
for i in range(10):
    j = 9-i
    name_ = path_ + str(j)+ ".csv"
    tmp_ = pd.read_csv(name_, dtype=str, keep_default_na=False)
    df = pd.concat([tmp_, df], axis=0)
label_names = list(range(0, 7+1))
print(df.shape)
df.head()

(1100, 5)

,y_true,y_pred,y_text,content,category
0,2,2,Đáp án: 2. Bình luận này đang thắc mắc về việc...,Boss chị đi có bán k ah,others
1,3,3,Đáp án: 3. Bình luận này có thể muốn chọn thôn...,QuầnL,others
2,2,3,Đáp án: 3. Bình luận này đang muốn chọn thông ...,Chị có quần size M chưa e,others
3,2,4,Đáp án: 4. Người bình luận đã chốt đơn hàng nh...,Chị chốt mẫu đầm hồng kèm áo khoác màu hồng hô...,others
4,2,3,Đáp án: 3. Bình luận này muốn hỏi xem trong da...,Chị có chân váy sĩze M chưa e,others

In [6]:
y_true_str = [str(_) for _ in df.y_true] + label_names
y_pred_str = [str(_) for _ in df.y_pred] + label_names
clf_rp = classification_report(y_true_str, y_pred_str, target_names = ["0", "1", "2", "3", "4", "5", "6", "7"])
print(clf_rp)
cm = confusion_matrix(y_true_str, y_pred_str)
cm_df = pd.DataFrame(cm)
cm_df.columns = label_names
name = "y_true"
cm_df[name] = label_names
cm_df.set_index(name, inplace=True)
cm_df

              precision    recall  f1-score   support

           0       0.72      0.67      0.70       330
           1       0.55      0.66      0.60        47
           2       0.38      0.28      0.32       232
           3       0.70      0.68      0.69       484
           4       0.03      1.00      0.05         1
           5       0.03      1.00      0.06         1
           6       0.38      0.83      0.53        12
           7       0.20      1.00      0.33         1

    accuracy                           0.59      1108
   macro avg       0.37      0.77      0.41      1108
weighted avg       0.63      0.59      0.61      1108

          0   1   2    3   4   5   6  7
y_true
0       222  13  49   21   8   7  10  0
1         6  31   6    4   0   0   0  0
2        18   1  65  115  20  10   3  0
3        61   9  53  328  11  15   3  4
4         0   0   0    0   1   0   0  0
5         0   0   0    0   0   1   0  0
6         0   2   0    0   0   0  10  0
7         0   0   0    0   0   0   0  1

In [9]:
df_2_3 = df.loc[df["y_true"] == "2"]
df_2_3 = df_2_3.loc[df_2_3["y_pred"] == "3"]
gpt_comments = df_2_3[["y_text", "content"]]
gpt_comments

,y_text,content
2,Đáp án: 3. Bình luận này đang muốn chọn thông ...,Chị có quần size M chưa e
4,Đáp án: 3. Bình luận này muốn hỏi xem trong da...,Chị có chân váy sĩze M chưa e
34,Đáp án là 3. Người bình luận đưa ra câu hỏi về...,Có mấy màu ạ
56,Đáp án: 3. Người bình luận muốn chọn thông số ...,S bao nhiêu kg ạ
59,Đáp án: 3. Người bình luận muốn hỏi giá của sả...,Nhiêu tiền set hồng vậy
...,...,...
62,Đáp án: 3. Người bình luận muốn biết thông tin...,Túi bn v ạ
73,Đáp án: 3. Bình luận này có ý muốn chọn thông ...,M bn ký vừa c
78,Đáp án: 3. Người bình luận đang muốn xác định ...,56kg vừa kg ạ
80,Đáp án: 3. Người bình luận đang quan tâm đến t...,1m63 quần dài đến đâu c ơi
91,Đáp án: 3. Người bình luận muốn chọn thông số ...,Size s bao nhiêu kg

In [197]:
label_names = ["Positive", "Negative", "Neutral", "Unknown"]

In [215]:
x = pd.read_csv("/home/aia/Nhat/ChatGPT-Conversation/Test_Student_Feedback/result.csv")
y_pred = [label_names.index(_) for _ in x.predict] + [3]
y_true = [label_names.index(_) for _ in x.label] + [3]

In [216]:
set(y_pred)

{0, 1, 2, 3}

In [217]:
from sklearn.metrics import confusion_matrix, classification_report

In [227]:
y_true_str = [str(_) for _ in y_true]
y_pred_str = [str(_) for _ in y_pred]
clf_rp = classification_report(y_true_str, y_pred_str, target_names = ["0", "1", "2", "3"])
print(clf_rp)

              precision    recall  f1-score   support

           0       0.79      0.96      0.86        46
           1       1.00      0.66      0.80        50
           2       0.40      1.00      0.57         4
           3       0.50      1.00      0.67         1

    accuracy                           0.81       101
   macro avg       0.67      0.90      0.72       101
weighted avg       0.87      0.81      0.82       101

In [228]:
cm = confusion_matrix(y_true, y_pred)
cm_df = pd.DataFrame(cm)
cm_df.columns = label_names
name = "y_true"
cm_df[name] = label_names
cm_df.set_index(name, inplace=True)
cm_df

          Positive  Negative  Neutral  Unknown
y_true
Positive        44         0        1        1
Negative        12        33        5        0
Neutral          0         0        4        0
Unknown          0         0        0        1

In [267]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [271]:
random_index = random.randrange(0,len(x)-1)

In [272]:
random_index

4